body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.incentivo {
  background-color: #333;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.incentivo p {
  font-size: 16px;
  line-height: 1.6;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.incentivo,
form {
  animation: fadeIn 1s ease;
}
p span {
  color: red !important;
}
/* Estilo para links */
a {
  color: #007bff !important; /* Cor do link */
  text-decoration: none !important; /* Remover sublinhado padrão */
  transition: color 0.3s ease-in-out !important; /* Transição suave de cor */
}

/* Efeito ao passar o mouse */
a:hover {
  color: #0056b3 !important; /* Nova cor ao passar o mouse */
}
